<%= form_for(@gene_annotation) do |f| %>
  <% if @gene_annotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gene_annotation.errors.count, "error") %> prohibited this gene_annotation from being saved:</h2>

      <ul>
      <% @gene_annotation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :db_object_symbol %><br>
    <%= f.text_field :db_object_symbol %>
  </div>
  <div class="field">
    <%= f.label :go_id %><br>
    <%= f.text_field :go_id %>
  </div>
  <div class="field">
    <%= f.label :evidence_code %><br>
    <%= f.text_field :evidence_code %>
  </div>
  <div class="field">
    <%= f.label :aspect %><br>
    <%= f.text_field :aspect %>
  </div>
  <div class="field">
    <%= f.label :reference %><br>
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :aspect_num %><br>
    <%= f.text_field :aspect_num %>
  </div>
  <div class="field">
    <%= f.label :color_code %><br>
    <%= f.text_field :color_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
