<h1>Listing gene_annotations</h1>

<table>
  <thead>
    <tr>
      <th>Db object symbol</th>
      <th>Go id</th>
      <th>Evidence code</th>
      <th>Aspect</th>
      <th>Reference</th>
      <th>Aspect Num</th>
      <th>Color Code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gene_annotations.each do |gene_annotation| %>
      <tr>
        <td><%= gene_annotation.db_object_symbol %></td>
        <td><%= gene_annotation.go_id %></td>
        <td><%= gene_annotation.evidence_code %></td>
        <td><%= gene_annotation.aspect %></td>
        <td><%= gene_annotation.reference %></td>
        <td><%= gene_annotation.aspect_num %></td>
        <td><%= gene_annotation.color_code %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


