<p id="notice"><%= notice %></p>

<p>
  <strong>Db object:</strong>
  <%= @gene_annotation.db_object_symbol %>
</p>

<p>
  <strong>Go id:</strong>
  <%= @gene_annotation.go_id %>
</p>

<p>
  <strong>Evidence code:</strong>
  <%= @gene_annotation.evidence_code %>
</p>

<p>
  <strong>Aspect:</strong>
  <%= @gene_annotation.aspect %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @gene_annotation.reference %>
</p>

<p>
  <strong>Aspect Num:</strong>
  <%= @gene_annotation.aspect_num %>
</p>

<p>
  <strong>Color Code:</strong>
  <%= @gene_annotation.color_code %>
</p>
