<p id="notice"><%= notice %></p>

<p>
  <strong>Go:</strong>
  <%= @relationship.go_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @relationship.parent_id %>
</p>

<p>
  <strong>Lft:</strong>
  <%= @relationship.lft %>
</p>

<p>
  <strong>Rgt:</strong>
  <%= @relationship.rgt %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @relationship.depth %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
