<p id="notice"><%= notice %></p>

<p>
  <strong>Go:</strong>
  <%= @relationship.go_id %>
</p>

<p>
  <strong>Parent go:</strong>
  <%= @relationship.parent_go_id %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
