<p id="notice"><%= notice %></p>

<p>
  <strong>Db object:</strong>
  <%= @gene.db_object_id %>
</p>

<p>
  <strong>Db object symbol:</strong>
  <%= @gene.db_object_symbol %>
</p>

<p>
  <strong>Db object name:</strong>
  <%= @gene.db_object_name %>
</p>

<p>
  <strong>Db object synonym:</strong>
  <%= @gene.db_object_synonym %>
</p>



